doctype
html
  head
    title Saml's phaser Flappy Bird game.

  body
    h1 My Phaser Flappy Bird game.

    script(scr="httpshttps://cdnjs.cloudflare.com/ajax/libs/phaser/2.3.0/phaser.js")
    script(scr="game.js")

